@import "../../node_modules/tingle.js/dist/tingle.min.css";
@import "../../node_modules/glightbox/dist/css/glightbox.min.css";

@import "./components/get-offer-modal.css";
@import "./components/contact-form-fields.css";

@layer base {
    .shadow-header {
        box-shadow: 0 6px 12px rgb(0 0 0 / 28%);
    }
}

@layer utilities {
    .text-shadow-sm {
        text-shadow: 1px 2px 3px black;
    }

    .text-shadow {
        text-shadow: 2px 2px 4px black;
    }

    .text-shadow-md {
        text-shadow: 4px 4px 8px black;
    }

    .text-shadow-lg {
        text-shadow: 15px 15px 30px black;
    }

    .text-shadow-none {
        text-shadow: none;
    }
}

body {
    @apply
    min-w-[1920px]
}

.page {
    @apply
    min-w-[1536px]
}

.page-container {
    @apply
    mx-auto
    w-[1140px]
}
