@import "../../node_modules/tingle.js/dist/tingle.min.css";
@import "../../node_modules/glightbox/dist/css/glightbox.min.css";

@import "lineicons.css";

@import "./components/google-search.css";
@import "./components/get-offer-modal.css";
@import "./components/contact-form-fields.css";

@layer base {
    .shadow-header {
        box-shadow: 0 3px 9px rgb(0 0 0 / 20%);
    }
}

@layer utilities {
    .text-shadow-xs {
        text-shadow: 0 1px 2px rgba(0 0 0 / 75%);
    }

    .text-shadow-sm {
        text-shadow: 1px 2px 3px rgba(0 0 0 / 75%);
    }

    .text-shadow {
        text-shadow: 2px 2px 4px rgba(0 0 0 / 75%);
    }

    .text-shadow-md {
        text-shadow: 4px 4px 8px rgba(0 0 0 / 75%);
    }

    .text-shadow-lg {
        text-shadow: 15px 15px 30px rgba(0 0 0 / 75%);
    }

    .text-shadow-none {
        text-shadow: none;
    }
}

.page {
    @apply
    mx-auto
    w-full
    max-w-[1366px]
}

.page-container {
    @apply
    mx-auto
    w-full
    max-w-[1366px]
}
